<div class="container">
	<h3>{{pageTitle}}</h3>
	<div class="box-container">
		<div class="row">
			<div><a class="btn btn-primary" href="${addUrl}" role="button">New</a></div>
		</div>
		<div class="row lead">
			<div class="col-xs-2 col-md-2">Id</div>
			<div class="col-xs-8 col-md-6">Category</div>
			<div class="col-xs-2 col-md-4">Actions</div>
		</div>
		<div class="row vertical-align" ng-repeat="category in categories | orderBy:'id'">
 			<div class="col-xs-2 col-md-2">{{category.id}}</div>
			<div class="col-xs-8 col-md-6"  ng-click="$parent.kk('#/category/{{category.id}}')">{{category.categoryName}}</div>
			<div class="col-xs-4 col-md-4">
				<div class="col-xs-2 col-md-2"><a class="btn btn-info btn-sm" href="#/category/{{category.id}}" role="button">Edit</a></div>
				<div class="col-xs-2 col-md-2"><a class="btn btn-danger btn-sm" href="#" role="button">Delete</a></div>
			</div>
		</div>
	</div>
</div>
