<section data-ng-controller="CustomerController" data-ng-init="find()">
	<div>
	<h1>Customers
		<a class="badgebtn pull-right" data-ng-href="#/customer/create">
			<i class="glyphicon glyphicon-plus-sign"></i>
		</a>
	</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="customer in customers" data-ng-href="#/customer/{{customer.id}}" class="list-group-item">
			<span class="badge"><i class="glyphicon glyphicon-edit"></i></span>
			<h4 class="list-group-item-heading" data-ng-bind="customer.email"></h4>
			<p class="list-group-item-text" data-ng-bind="customer.firstName"></p>
			<p class="list-group-item-text" data-ng-bind="customer.lastName"></p>
			<p class="list-group-item-text" data-ng-bind="customer.phoneNumber"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="customers.$resolved && !customers.length">
		No customers yet, why don't you <a data-ng-href="#/customer/create">create one</a>?
	</div>
</section>