<section data-ng-controller="ArticleController" data-ng-init="find()">
	<div>
	<h1>Articles
		<a class="badgebtn pull-right" data-ng-href="#/article/create">
			<i class="glyphicon glyphicon-plus-sign"></i>
		</a>
	</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#/article/{{article.id}}" class="list-group-item">
			<span class="badge"><i class="glyphicon glyphicon-edit"></i></span>
			<h4 class="list-group-item-heading" data-ng-bind="article.name"></h4>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a data-ng-href="#/article/create">create one</a>?
	</div>
</section>